# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Temporary images / videos
temp_*.jpg
*.jpg
*.png
*.mp4

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/