# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================================================
# VIRTUAL ENVIRONMENT
# =========================================================

venv/
.env

# =========================================================
# VS CODE
# =========================================================

.vscode/

# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/

# =========================================================
# MODEL CHECKPOINTS
# =========================================================

*.pth
*.pt
*.onnx
*.h5
*.ckpt
*.pkl

# =========================================================
# DATASETS
# =========================================================

datasets/
data/
# =========================================================
# AI MODEL DATASETS
# =========================================================


ai_models/**/dataset/

# =========================================================
# GENERATED DATA
# =========================================================

ai_models/**/checkpoints/

# =========================================================
# MODEL FILES
# =========================================================

ai_models/**/*.pth
ai_models/**/*.pkl

# =========================================================
# GENERATED FILES
# =========================================================

*.csv
*.log

# =========================================================
# SYSTEM FILES
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# TEST OUTPUTS
# =========================================================

outputs/
results/

# =========================================================
# CACHE
# =========================================================

.cache/

# =========================================================
# ENV CONFIG
# =========================================================

.env.local
.env.production

# =========================================================
# FRONTEND BUILD FILES
# =========================================================

node_modules/
dist/
build/
venv/
__pycache__/

dataset/
datasets/

*.mp4
*.MOV
*.avi

*.pth
*.pt
*.h5
*.onnx